<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasificador del Titanic</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script>
      
        function clasificar(event) {
            event.preventDefault();

            const citas_totales = document.getElementById('citas_totales').value;
            const citas_canceladas = document.getElementById('citas_canceladas').value;
            const hora = document.getElementById('hora').value;
            const dia= document.getElementById('dia').value;
            
            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `citas_canceladas=${citas_canceladas}&citas_totales=${citas_totales}&hora=${hora}&dia=${dia}`,
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('resultado').innerText = 'Error: ' + data.error;
                } else {
                    document.getElementById('resultado').innerText = 'Es probable que el cliente ' + data.prediction + ' cancele su cita';
                }
            })
            .catch(error => {
                document.getElementById('resultado').innerText = 'Error en la solicitud.';
                console.error('Error:', error);
            });
        }
    </script>
</head>

<body class="bg-gray-100 items-center justify-center">
    <h1 class="text-center mt-4 font-bold text-xl">Prediccion sobre cancelación de citas</h1><br>
    <div class="w-full max-w-lg mx-auto justify-center" >

        <form id="formulario" onsubmit="clasificar(event)" class="shadow-lg p-9 mt-5 bg-white " style="width: 400px;"> 
            
            <label for="temperature-slider" class="pl-4 block text-gray-700 text-sm font-bold mb-2">Citas canceladas</label>
            <input 
                type="number" 
                id="citas_canceladas" 
                name="citas_canceladas"
                step="0.01" 
                class="border rounded px-3 py-2 w-full"
            >

            <label for="temperature-slider" class="pl-4 block text-gray-700 text-sm font-bold mb-2">citas_totales</label>
            <input 
                type="number" 
                id="citas_totales" 
                name="citas_totales"        
                class="border rounded px-3 py-2 w-full"
            >
          
            <label for="temperature-slider" class="pl-4 block text-gray-700 text-sm font-bold mb-2">Hora </label>
            <select  class="ml-4" id="hora">
                <option value="0.0">09:00</option>
                <option value="1.0">10:00</option>
                <option value="2.0">11:00</option>
                <option value="3.0">12:00</option>
                <option value="4.0">13:00</option>
                <option value="5.0">14:00</option>
                <option value="6.0">15:00</option>
                <option value="7.0">16:00</option>
            </select>

            <label for="temperature-slider" class="pl-4 block text-gray-700 text-sm font-bold mb-2">Dia</label>
            <select  class="ml-4" id="dia">
                <option value="0.0" selected>Lunes</option>
                <option value="1.0">Martes</option>
                <option value="2.0">Miercoles</option>
                <option value="1.0">Jueves</option>
                <option value="2.0">Viernes</option>
            </select>

            <button type="submit"  class=" w-full mt-2 shadow-lg p-2 hover:text-blue-300 bg-blue-200 rounded-md ">Enviar</button><br>

            <p id="resultado" class="font-bold mt-2">  </p>
        </form>

<body>
   

</html>


